[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"

[dev-packages]
coverage = "==7.2.7"
pre-commit = "==3.3.3"
pytest = "==7.4.0"
pytest-console-scripts = "==1.4.1"
pytest-cov = "==4.1.0"
pytest-html = "==3.2.0"
pytest-timeout = "==2.1.0"
pytest-xdist = "==3.3.1"
types-flask = "*"

[requires]
python_version = "3.8"
